<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Resume</title>
</head>
<body>
<div style="margin: 0 auto;display: block;width: 500px;">
    <table width="100%" border="1">
        <tr>
            <td>Name:</td>
            <td>{{employeeName}}</td>
        </tr>
        <tr>
            <td>surname:</td>
            <td>{{employeeSurname}}</td>
        </tr>
    </table>
</div>
</body>
</html>